extends base

block menu-items
	li
		a(href="/") Logout

block content

	h1(id="title") New intervention
	center(id="new-work")
		form(id="new-work-form",onsubmit="return false;")
			select(name="interventionType",id="list")
				option(value="gynecology") gynecology
				option(value="ophtalmology") ophtalmology
				option(value="rumathology") rumathology
				option(value="gastrology") gastrology
				option(value="neuro-psychatry") neuro-psychatry
				option(value="ORL") ORL
				option(value="cermatology") cermatology
				option(value="cardiology") cardiology
			br
			br
			input(type="text",name="title",required="required",placeholder="Subject")
			br
			input(type="text",name="ssnPatient",required="required",placeholder="Patient SSN")
			br
			input(type="text",name="date",required="required",placeholder="Date")
			br
			input(type="text",name="report",required="required",placeholder="Report")
			br
			input(type="text",name="prescription",required="required",placeholder="Prescription")
			br
			input(type="submit",class="btn btn-primary btn-block btn-large",value="ADD")
		small(class="error-msg")

	br
	h1(id="title") Interventions
	center(id="work")

	h1(id="title") Personal infos
	center(id="user-infos")
		
	script.
		$(document).ready(function(){
			$.ajax({
				url: "/agent/self/info",
				type: 'get',
				headers:{"jwt":"#{jwtoken}"},
				success: function(data){
					var table = json2htmltab(data,['firstName','lastName','birthDate','gender','address','email','ssn']);
					$("#user-infos").html(table);
				}
			});

			function getWorks(){
				$.ajax({
					url: "/intervention/doctor-self",
					type: 'get',
					headers:{"jwt":"#{jwtoken}"},
					success: function(data){
						var table = json2htmltab(data,['interventionType','title','ssnPatient','date','report','prescription']);
						$("#work").html(table);
					}
				});
			}

			getWorks();

			$("#new-work-form").submit(function(){				
				$.ajax({
					type: "post",
					url: "/intervention/doctor-self",
					headers:{"jwt":"#{jwtoken}"},
					data : $("#new-work-form").serialize(),
					datatype : 'json',
					success: function(data){
						getWorks();
					}
				}); 	
			});
			
		});