mixin loginForm(targetPage)
	form(id="login-form",method="post",action=targetPage)
		input(type="text",name="email",placeholder="Email",required="required")
		input(type="password",name="password",placeholder="Password",required="required")
		input(type="submit",class="btn btn-primary btn-block btn-large",value="Login")
		small(class="error-msg") #{error}